[user]
	email = jonathancardonaramirez@gmail.com
	name = Jonathan ArchDell
[credential]
	helper = store
[init]
	defaultBranch = main
[core]
	editor = lvim
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
