@import "themes/Gruvbox-Retro.css";

* {
	border: none;
	border-radius: 10px;
  font-family: "CaskaydiaCove Nerd Font";
	font-size: 14px;
  /* padding: 2px; */
	/* min-height: 10px; */
}

window#waybar {
	background: transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	margin-top: 8px;
	margin-left: 8px;
	margin-bottom: 0px;
  padding: 0px;
	color: @base01;
	background: @base0E;
}

#workspaces button {
  padding: 2px 8px 0px 4px;
  color: @base06;
}

#workspaces button.empty {
  color: @base01;
  background: @base03;
}

#workspaces button.visible {
  color: @base01;
  background: @base0C;
}

#workspaces button.active {
  color: @base01;
  background: @base0D;
}

#workspaces button.urgent {
  color: @base01;
  background: @base09;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0E;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0A;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0B;
}

#battery.charging, #battery.plugged {
	color: @base01;
    background-color: @base0C;
}

#battery.critical:not(.charging) {
    background-color: @base08;
    color: @base01;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @base08;
        color: @base01;
    }
}

#backlight {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0F;
}
#clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0C;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0E;
}
#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0D;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: @base0D;
	background: @base01;
}

#custom-launcher {
	font-size: 14px;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 15px;
	border-radius: 10px;
	transition: none;
  color: @base0D;
  background: @base01;
}

#custom-power {
	font-size: 14px;
	margin-top: 8px;
  margin-left: 8px;
  margin-right: 10px;
	padding-left: 10px;
	padding-right: 15px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0F;
}

#custom-wallpaper {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0D;
}

#custom-updates {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0E;
}

#custom-media {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0E;
}

#custom-notification {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @base01;
	background: @base0D;
}
