
.icon-trackpad_icon_138087:before { content: '\e800'; } /* '' */
.icon-trackpad_lock_icon_137086:before { content: '\e801'; } /* '' */
.icon-browser_brave_icon_157736:before { content: '\e802'; } /* '' */
