.apatheia-container {
	border-radius: 10px 10px;
	padding: 1rem;
	// margin: 30px 0px;
	border: 1px solid rgba($primary, 0.1);
}

.apatheia-content {
    font-family: CaskaydiaCove Nerd Font;
	font-size: 14;
	color: $white;
}

.apatheia-author {
    font-family: CaskaydiaCove Nerd Font;
	font-style: italic;
	font-weight: bold;
	font-size: 14;
	color: $primary;
	margin-top: 0.3rem;
}
