$background-bar: #282828;
$background: #1d2021;
$widget-background: #3c3836;
$shadow: rgba(0, 0, 0, 0.3);
$grey: #928374;

$black:     #3c3c3c;
$red:     #fb4834; // #F37F97;
$green:   #b8bb26; // #5ADECD;
$yellow:  #fabd2f; // #F2A272;
$orange:  #fe8019; // #F2A272;
$blue:    #83a598; // #BAB4D9; //#8897F4;
$purple:  #d3869b; // #C574DD;
$purple2: #b16286; // #C574DD;
$teal:    #8ec07c; // #79E6F3;
$white:   #ebdbd2; // #FDFDFD;

$primary:   #fbf1c7; // #F37F97;
$secondary: #458588; // #F37F97;
$tertiary:  #d79921;
