
.icon-browser_brave_icon_157736:before { content: '\e800'; } /* '' */
.icon-trackpad_icon_138087:before { content: '\e801'; } /* '' */
.icon-trackpad_lock_icon_137086:before { content: '\e802'; } /* '' */
.icon-wifi-ramp-1:before { content: '\e803'; } /* '' */
.icon-wifi-ramp-2:before { content: '\e804'; } /* '' */
.icon-wifi-ramp-3:before { content: '\e805'; } /* '' */
.icon-wifi-ramp-4:before { content: '\e806'; } /* '' */
.icon-wifi-ramp-5:before { content: '\e807'; } /* '' */
.icon-wifi-ramp-6:before { content: '\e808'; } /* '' */
.icon-clock-svgrepo-com:before { content: '\e809'; } /* '' */
